@import "./normalize.scss";

:root {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 0.4vh;
    border: #07d5c0;
    background: #07d5c0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    border-radius: 0.4vh;
    border: #1a4a45;
    background: #1a4a45;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.lhz-layout,
.el-container {
  width: 100vw;
  height: 100vh;
}

.el-input {
  &__inner {
    height: 5vh;
    line-height: 5vh;
    background-color: #023333;
    border-color: #2a7a7a;
    font-size: 1.8vh;
    color: #fff;

    &:hover {
      border-color: #05bf99;
    }
  }
}

.el-checkbox {
  &.is-checked {
    color: #05bf99;
  }
  &__input {
    &.is-focus {
      .el-checkbox__inner {
        border-color: #2a7a7a;
      }
    }

    &.is-checked {
      & + .el-checkbox__label {
        color: #05bf99;
      }
      .el-checkbox__inner {
        background-color: #05bf99;
        border-color: #05bf99;
      }
    }
  }

  &__inner {
    background-color: #023333;
    border-color: #2a7a7a;

    &:hover {
      border-color: #05bf99;
    }
  }

  &__label {
    color: #fff;
  }
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 1.4vh;
    color: #05bf99;
  }

  &__left {
    flex: 1;

    .el-breadcrumb {
      &__inner {
        color: #05bf99 !important;
        a {
          color: #fff !important;
        }
      }
      &__separator {
        color: #2a7a7a;
      }
      img {
        display: block;
        height: 2vh;
        margin-right: 1vh;
        margin-top: -3px;
        float: left;
      }
    }
  }
  &__center {
    flex: 0 0 600px;
    padding-bottom: 1vh;
    text-align: center;

    span {
      color: #fff;
      font-size: 3.6vh;
      font-weight: bold;
      font-family: "PingFang-SC-Bold";
    }
  }
  &__right {
    display: flex;
    flex: 1;
    justify-content: end;
  }
}
.el-main {
  padding: 0;
}

.lhz-poper {
  background: initial !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 none !important;

  & > ul {
    position: relative;
    padding: 20px 0 35px;
    border-image-source: url(~@/assets/img/projects/pop-bg.png);
    border-image-repeat: stretch round;
    border-image-width: 35px 132px;
    border-image-slice: 35 132 fill;

    & > li {
      position: relative;
      height: 5vh;
      line-height: 5vh;
      padding: 0 20px;
      text-align: center;
      color: #22f3e2;
      z-index: 10;
      cursor: pointer;
      background: {
        repeat: no-repeat;
        position: center bottom;
        image: url(~@/assets/img/projects/bot.png);
      }
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:last-child {
        background-image: initial;
      }

      span {
        font-size: 1.6vh;
        font-weight: bold;
        color: #22f3e2;
        padding-right: 2vh;
        background: {
          repeat: no-repeat;
          position: center right;
          image: url(~@/assets/img/projects/next.png);
        }
      }
    }
  }

  .el-popper {
    &__arrow {
      display: none;
    }
  }
}

.el-dropdown {
  &-link {
    cursor: pointer;
    color: #ffffff;
  }
}

.el-dropdown {
  &__popper {
    background: #023333 !important;
    border: 0.1vh solid #05bf99 !important;
  }
  &-menu {
    background-color: #023333 !important;
    min-width: 100px;
    &__item {
      padding: 0;
      text-align: center;

      a {
        color: #fff !important;
      }
      &:hover {
        background-color: #011616 !important;
      }
    }
  }
}

.el-popper {
  &__arrow {
    &::before {
      background: #023333 !important;
      border-color: #05bf99 !important;
    }
  }
}

.el-overlay-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lhz-dialog {
  &-projects {
    height: 814px;
    margin: 0;
    background: {
      repeat: no-repeat;
      size: 100%;
      color: initial;
      image: url(~@/assets/img/projects/poper-bg.png);
    }
    .el-dialog {
      &__header {
        height: 71px;
        line-height: 71px;
        padding: 0 60px;
      }
      &__title {
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 3.2vh;
      }
      &__headerbtn {
        i {
          display: none;
        }
        width: 3vh;
        height: 3vh;
        background: {
          repeat: no-repeat;
          size: 100%;
          color: initial;
          image: url(~@/assets/img/close.png);
        }
        top: 2.5vh;
      }
      &__body {
        padding: 2vh;

        .el-form {
          &-item {
            &__label {
              color: #ffffff;
              font-size: 1.6vh;
            }
            margin: 0;
          }
        }
      }
    }
  }
}

.el-tabs {
  &--card {
    & > .el-tabs__header {
      margin-bottom: 3vh;
      border: 0 none;
      .el-tabs {
        &__nav {
          // padding: 0 10px;
          border: 0.1vh solid #2b6768;
          border-radius: 0.4vh;
          &-wrap {
            &::after {
              display: none;
            }
          }
        }
        &__item {
          height: 3.2vh;
          line-height: 3.2vh;
          // padding: 0 10px;
          color: #2b6768;
          font-size: 1.6vh;
          border-color: #2b6768;
          border-bottom-width: 0;

          &.is-active {
            background-color: #2b6768;
            border: 0 none;
            color: #fff;
          }
        }
      }
    }
  }
}

.el-page-header {
  width: 520px;
  height: 100%;
  align-items: center;
  flex: 0 0 540px;

  &__left {
    width: 8.4vh;
    height: 3.6vh;
    background: rgba(8, 104, 101, 0.5);
    border-radius: 0.4vh;
    align-items: center;
    justify-content: center;
    margin-right: 5vh;
    padding: 0 0.2vh;

    &::after {
      display: none;
    }
    i{
      font-size: 2vh;
    }
  }
  &__title,
  &__icon {
    color: #fff;
  }
  &__title {
    font-size: 1.6vh;
  }
  &__content {
    font-size: 3.4vh;
    font-family: Adobe Heiti Std;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 2vh #fff;
  }
}

.el-menu {
  flex: 0 0 1000px;
  background-color: initial;
  border-bottom: none;

  &-item {
    height: 7vh;
    line-height: 7vh;
    margin-right: 8vw;
    padding-top: 1vh;
    font-size: 1.6vh;
    color: #fff;

    &:focus,
    &:hover {
      background-color: initial !important;
      color: #07d5c0 !important;
    }

    &:last-child {
      margin: 0;
    }
    &.is-active {
      font-weight: bold;
      color: #07d5c0 !important;
      // border-color: #07d5c0 !important;
      border-bottom: 0;

      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.2vh;
        width: 100%;
        height: 0.2vh;
        background-color: #07d5c0;
      }
    }
  }
}

.font14,
.font16,
.font30 {
  font-family: PingFang SC;
}

.font14 {
  font-size: 1.4vh;
}

.font16 {
  font-size: 1.6vh;
}

.font20 {
  font-size: 2vh;
  line-height: 2vh;
}

.font24 {
  font-size: 2.4vh;
  line-height: 2.4vh;
}

.font30 {
  font-size: 3vh;
  line-height: 3vh;
}

.font40 {
  font-size: 4vh;
  line-height: 4vh;
}

.color-white {
  color: #fff;
}

.color-green {
  color: #1aa697;
}

.color-blue {
  color: #00c5fc;
}

.color-yellow {
  color: #ffc950;
}

.color-pink {
  color: #f35296;
}

.color-purple {
  color: #ad88ff;
}

.ta-center {
  text-align: center;
}

.mb10 {
  margin-bottom: 1vh;
}

.mb12 {
  margin-bottom: 1.2vh;
}

.mb30 {
  margin-bottom: 3vh;
}

.mr20 {
  margin-right: 2vh;
}

.b-bot {
  background: {
    repeat: no-repeat;
    size: 100%;
    position: center bottom;
    image: url(~@/assets/img/effect/f-header-bottom.png);
  }
}

.header-text {
  position: relative;
  color: #fff;
  font-size: 3.2vh;
  padding: 0 6.5vh;
  
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 3.4vh;
    height: 0.4vh;
    margin-top: -0.2vh;
    background: {
      repeat: no-repeat;
      size: 100%;
    }
  }
  
  &::after {
    left: 0;
    background-image: url(~@/assets/img/effect/f-header-left.png);
  }
  &::before {
    right: 0;
    background-image: url(~@/assets/img/effect/f-header-right.png);
  }

}

.b-bot-dashed {
  border-bottom: 1px dashed rgba(56, 255, 232, 0.2);
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.align-items {
  align-items: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.border-r {
  & > div {
    position: relative;

    &::after {
      position: absolute;
      right: -25%;
      top: 0;
      width: 0.1vh;
      height: 100%;
      display: block;
      content: "";
      background: {
        repeat: no-repeat;
        size: 100% 100%;
        image: url(~@/assets/img/effect/border-r.png);
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.border-rl {
  &>div{
    padding: 1vh 0;
  }
  &::after,
  &::before {
    position: absolute;
    display: block;
    content: "";
  }

  &::after {
    left: 50%;
    top: 0;
    width: 0.1vh;
    height: 100%;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(~@/assets/img/effect/border-r.png);
    }
  }

  &::before {
    left: 0;
    top: 50%;
    height: 0.1vh;
    width: 100%;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(~@/assets/img/effect/border-b.png);
    }
  }
}

.effect-main {
  .el-card {
    display: flex;
    flex-direction: column;
    background-color: initial;
    border-image-source: url(~@/assets/img/effect/effect-card.png);
    border-image-repeat: stretch round;
    border-image-width: 2.6vh;
    border-image-slice: 26 fill;
    padding-bottom: 1.5vh;

    &__header {
      height: 3.4vh;
      line-height: 3.4vh;
      padding: 0;
      text-align: center;
      font-size: 1.6vh;
      font-family: PingFang SC;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0px 1px 6px #05bf99;
      border-bottom: none;
    }

    &__body {
      position: relative;
      padding: 0;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}
