@import "./normalize.scss";

:root {
  ::-webkit-scrollbar {
    width: 0.6vh;
    height: 0.6vh;
  }
  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 0.4vh;
    border: #07d5c0;
    background: #07d5c0;
    box-shadow: inset 0 0 0.5vh rgba(0, 0, 0, 0.2);
  }
  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    border-radius: 0.4vh;
    border: #1a4a45;
    background: #1a4a45;
    box-shadow: inset 0 0 0.5vh rgba(0, 0, 0, 0.1);
  }
}

.login {
  .el-form {
    .el-input__inner {
      padding-left: 6.4vh;
    }
  }
}

.home {
  .el-header {
    height: 8.6vh;
    background: {
      repeat: no-repeat;
      position: center;
      size: 100% 100%;
      image: url(./../assets/img/home/header.png);
    }

    &__left {
      padding-left: 5vh;
      padding-bottom: 3.5vh;
    }
    &__right {
      padding-right: 5vh;
      padding-bottom: 3.5vh;
    }
  }
}

.lhz-layout,
.el-container {
  width: 100vw;
  height: 100vh;
}

.el-main {
  padding: 0;
}

.el-tabs {
  &--card {
    & > .el-tabs__header {
      margin-bottom: 3vh;
      border: 0 none;
      .el-tabs {
        &__nav {
          border: 0.1vh solid #2b6768;
          border-radius: 0.4vh;
          &-wrap {
            &::after {
              display: none;
            }
          }
        }
        &__item {
          height: 3.2vh;
          line-height: 3.2vh;
          color: #2b6768;
          font-size: 1.6vh;
          border-color: #2b6768;
          border-bottom-width: 0;

          &.is-active {
            background-color: #2b6768;
            border: 0 none;
            color: #fff;
          }
        }
      }
    }
  }
}

.el-menu {
  flex: 0 0 100vh;
  background-color: initial;
  border-bottom: none;

  &-item {
    height: 7vh;
    line-height: 7vh;
    margin-right: 8vw;
    padding-top: 1vh;
    font-size: 1.6vh;
    color: #fff;

    &:focus,
    &:hover {
      background-color: initial !important;
      color: #07d5c0 !important;
    }

    &:last-child {
      margin: 0;
    }
    &.is-active {
      font-weight: bold;
      color: #07d5c0 !important;
      // border-color: #07d5c0 !important;
      border-bottom: 0;

      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.2vh;
        width: 100%;
        height: 0.2vh;
        background-color: #07d5c0;
      }
    }
  }
}

.el-input {
  &__inner {
    height: 5vh;
    line-height: 5vh;
    background-color: #023333;
    border-color: #2a7a7a;
    font-size: 1.8vh;
    color: #fff;

    &:hover {
      border-color: #05bf99;
    }
  }
}

.el-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    font-size: 1.4vh;
    color: #05bf99;
  }

  &__left {
    flex: 1;

    .el-breadcrumb {
      &__inner {
        color: #05bf99 !important;
        a {
          color: #fff !important;
        }
      }
      &__separator {
        color: #2a7a7a;
      }
      img {
        display: block;
        height: 2vh;
        margin-right: 1vh;
        margin-top: -0.3vh;
        float: left;
      }
    }
  }
  &__center {
    flex: 0 0 60vh;
    padding-bottom: 1vh;
    text-align: center;

    span {
      color: #fff;
      font-size: 3.6vh;
      font-weight: bold;
    }
  }
  &__right {
    display: flex;
    flex: 1;
    justify-content: end;
  }
}

.el-popper {
  &__arrow {
    &::before {
      background: #023333 !important;
      border-color: #05bf99 !important;
    }
  }
}

.lhz-poper {
  background: initial !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 none !important;

  & > ul {
    position: relative;
    padding: 2vh 0 3.5vh;
    border-image-source: url(./../assets/img/projects/pop-bg.png);
    border-image-repeat: stretch round;
    border-image-width: 3.5vh 14.5vh;
    border-image-slice: 35 132 fill;

    & > li {
      position: relative;
      height: 5vh;
      line-height: 5vh;
      padding: 0 2vh;
      text-align: center;
      color: #22f3e2;
      z-index: 10;
      cursor: pointer;
      background: {
        repeat: no-repeat;
        position: center bottom;
        image: url(./../assets/img/projects/bot.png);
      }
      overflow: hidden;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:last-child {
        background-image: initial;
      }

      span {
        font-size: 1.6vh;
        font-weight: bold;
        color: #22f3e2;
        padding-right: 2vh;
        background: {
          repeat: no-repeat;
          position: center right;
          image: url(./../assets/img/projects/next.png);
        }
      }
    }
  }

  .el-popper {
    &__arrow {
      display: none;
    }
  }
}

.lhz-dialog {
  &-projects {
    width: 120vh;
    height: 81.4vh;
    margin: 0;
    background: {
      repeat: no-repeat;
      size: 100%;
      color: initial;
      image: url(./../assets/img/projects/poper-bg.png);
    }
    .el-dialog {
      &__header {
        height: 7.1vh;
        line-height: 7.1vh;
        padding: 0 6vh;
      }
      &__title {
        display: flex;
        align-items: center;
        height: 100%;
        color: #fff;
        font-size: 3.2vh;
      }
      &__headerbtn {
        i {
          display: none;
        }
        width: 3vh;
        height: 3vh;
        background: {
          repeat: no-repeat;
          size: 100%;
          color: initial;
          image: url(./../assets/img/close.png);
        }
        top: 2.5vh;
      }
      &__body {
        padding: 2vh;

        .el-form {
          &-item {
            &__label {
              color: #ffffff;
              font-size: 1.6vh;
            }
            margin: 0;
          }
        }
      }
    }
  }
}

.dialog-card {
  background-color: initial;
  border-width: 0;

  .el-card {
    &__header {
      border-width: 0;
      span {
        color: #ffffff;
        font-size: 1.6vh;
        font-weight: bold;
        line-height: 2.8vh;
      }
    }

    &__body {
      padding: 0;

      p {
        color: #ffffff;
        font-size: 1.6vh;
        line-height: 2.8vh;
        margin-bottom: 0.5vh;
        padding-right: 1vh;
        text-indent: 2em;
      }
    }
  }
}

.el-checkbox {
  &.is-checked {
    color: #05bf99;
  }
  &__input {
    &.is-focus {
      .el-checkbox__inner {
        border-color: #2a7a7a;
      }
    }

    &.is-checked {
      & + .el-checkbox__label {
        color: #05bf99;
      }
      .el-checkbox__inner {
        background-color: #05bf99;
        border-color: #05bf99;
      }
    }
  }

  &__inner {
    background-color: #023333;
    border-color: #2a7a7a;

    &:hover {
      border-color: #05bf99;
    }
  }

  &__label {
    color: #fff;
  }
}

.el-dropdown {
  &-link {
    cursor: pointer;
    color: #ffffff;
  }
}

.el-dropdown {
  &__popper {
    background: #023333 !important;
    border: 0.1vh solid #05bf99 !important;
  }
  &-menu {
    background-color: #023333 !important;
    min-width: 10vh;
    &__item {
      padding: 0;
      text-align: center;

      a {
        color: #fff !important;
      }
      &:hover {
        background-color: #011616 !important;
      }
    }
  }
}

.el-page-header {
  width: 52vh;
  height: 100%;
  align-items: center;
  flex: 0 0 54vh;

  &__left {
    width: 8.4vh;
    height: 3.6vh;
    background: rgba(8, 104, 101, 0.5);
    border-radius: 0.4vh;
    align-items: center;
    justify-content: center;
    margin-right: 5vh;
    padding: 0 0.2vh;

    &::after {
      display: none;
    }
    i {
      font-size: 2vh;
    }
  }
  &__title,
  &__icon {
    color: #fff;
  }
  &__title {
    font-size: 1.6vh;
  }
  &__content {
    font-size: 3.4vh;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0 0 2vh #fff;
  }
}

.el-overlay-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font14 {
  font-size: 1.4vh;
}

.font16 {
  font-size: 1.6vh;
}

.font20 {
  font-size: 2vh;
  line-height: 2vh;
}

.font24 {
  font-size: 2.4vh;
  line-height: 2.4vh;
}

.font28 {
  font-size: 2.8vh;
  line-height: 2.8vh;
}

.font30 {
  font-size: 3vh;
  line-height: 3vh;
}

.font36 {
  font-size: 3.6vh;
  line-height: 3.6vh;
}

.font40 {
  font-size: 4vh;
  line-height: 4vh;
}

.color-white {
  color: #fff;
}

.color-green {
  color: #1aa697;
}

.color-blue {
  color: #00c5fc;
}

.color-yellow {
  color: #ffc950;
}

.color-pink {
  color: #f35296;
}

.color-purple {
  color: #ad88ff;
}

.ta-center {
  text-align: center;
}

.mb10 {
  margin-bottom: 1vh;
}

.mb12 {
  margin-bottom: 1.2vh;
}

.mb30 {
  margin-bottom: 3vh;
}

.mr10 {
  margin-right: 1vh;
}

.mr20 {
  margin-right: 2vh;
}

.b-bot {
  background: {
    repeat: no-repeat;
    size: 100%;
    position: center bottom;
    image: url(./../assets/img/effect/f-header-bottom.png);
  }
}

.header-text {
  position: relative;
  color: #fff;
  font-size: 3.2vh;
  padding: 0 6.5vh;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 3.4vh;
    height: 0.4vh;
    margin-top: -0.2vh;
    background: {
      repeat: no-repeat;
      size: 100%;
    }
  }

  &::after {
    left: 0;
    background-image: url(./../assets/img/effect/f-header-left.png);
  }
  &::before {
    right: 0;
    background-image: url(./../assets/img/effect/f-header-right.png);
  }
}

.b-bot-dashed {
  border-bottom: 0.1vh dashed rgba(56, 255, 232, 0.2);
}

.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flex-column {
  flex-direction: column;
}
.align-items {
  align-items: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.border-r {
  & > div {
    position: relative;

    &::after {
      position: absolute;
      right: -25%;
      top: 0;
      width: 0.1vh;
      height: 100%;
      display: block;
      content: "";
      background: {
        repeat: no-repeat;
        size: 100% 100%;
        image: url(./../assets/img/effect/border-r.png);
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}

.border-rl {
  & > div {
    padding: 1vh 0;
  }
  &::after,
  &::before {
    position: absolute;
    display: block;
    content: "";
  }

  &::after {
    left: 50%;
    top: 0;
    width: 0.1vh;
    height: 100%;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(./../assets/img/effect/border-r.png);
    }
  }

  &::before {
    left: 0;
    top: 50%;
    height: 0.1vh;
    width: 100%;
    background: {
      repeat: no-repeat;
      size: 100% 100%;
      image: url(./../assets/img/effect/border-b.png);
    }
  }
}

.effect-main {
  .el-card {
    display: flex;
    flex-direction: column;
    background-color: initial;
    border-image-source: url(./../assets/img/effect/effect-card.png);
    border-image-repeat: stretch round;
    border-image-width: 2.6vh;
    border-image-slice: 26 fill;
    padding-bottom: 1.5vh;

    &__header {
      height: 3.4vh;
      line-height: 3.4vh;
      padding: 0;
      text-align: center;
      font-size: 1.6vh;
      font-weight: bold;
      color: #ffffff;
      text-shadow: 0 0.1vh 0.6vh #05bf99;
      border-bottom: none;
    }

    &__body {
      position: relative;
      padding: 0;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}

.f-table {
  .el-table,
  .el-table tr,
  .el-table th {
    background-color: initial !important;
  }

  .el-table {
    &::after,
    &::before {
      display: none;
    }
    td,
    th {
      border-bottom: 0 !important;
    }
    tr {
      &:hover,
      &:hover td {
        background-color: initial !important;
      }
    }
    thead {
      background: {
        repeat: no-repeat;
        size: contain;
        position: center bottom;
        image: url(./../assets/img/effect/f-header-bottom2.png);
      }
      th {
        font-size: 1.6vh;
        font-weight: normal;
        color: #ffffff;
      }
    }
    &__header {
      margin-bottom: 1vh;
    }
    tbody {
      tr {
        &:nth-child(7n + 1) {
          span {
            background: linear-gradient(90deg, #0069bf 0%, #01c9fc 100%);
          }
        }
        &:nth-child(7n + 2) {
          span {
            background: linear-gradient(90deg, #00b583 0%, #1ce3aa 100%);
          }
        }
        &:nth-child(7n + 3) {
          span {
            background: linear-gradient(90deg, #ff9e5c 0%, #ffbb7c 100%);
          }
        }
        &:nth-child(7n + 4) {
          span {
            background: linear-gradient(90deg, #964dfa 0%, #d283f8 100%);
          }
        }
        &:nth-child(7n + 5) {
          span {
            background: linear-gradient(90deg, #ff126a 0%, #ff5683 100%);
          }
        }
        &:nth-child(7n + 6) {
          span {
            background: linear-gradient(90deg, #483bbf 0%, #6688fc 100%);
          }
        }
        &:nth-child(7n + 7) {
          span {
            background: linear-gradient(90deg, #73c525 0%, #a7e554 100%);
          }
        }
      }
      td {
        padding: 0.4vh 0;

        .cell {
          padding: 0;
          height: 100%;
          color: #39ffe7;
        }
        span {
          display: block;
          height: 6vh;
          line-height: 6vh;
          background: linear-gradient(90deg, #0069bf 0%, #01c9fc 100%);
          border-radius: 0.4vh 0 0 0.4vh;
          color: #ffffff;
          font-size: 2vh;
        }
        p {
          height: 6vh;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 0 0.4vh 0.4vh 0;
          color: #ffffff;
          font-size: 1.2vh;
          padding: 0.8vh;
          text-align: left;
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  right: 2vh;
  bottom: 2.5vh;
  top: 10.5vh;
  display: flex;
  flex-direction: column;
  width: 70vh;
  border-image-source: url(./../assets/img/construct/bg-pop.png);
  border-image-repeat: stretch stretch;
  border-image-width: 1vh 1vh;
  border-image-slice: 10 10 fill;

  &__header {
    padding: 3vh 2vh 0;
  }
  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;

    p {
      display: block;
      font-size: 2.4vh;
      line-height: 2.4vh;
      font-weight: bold;
      color: #ffffff;
      padding: 0 1.5vh;
      border-left: 0.4vh solid #05bf99;
    }

    & > span {
      display: flex;
      flex: 1;
      height: 2vh;
      background: {
        repeat: no-repeat;
        size: cover;
        position: center right;
        image: url(./../assets/img/construct/bg-title.png);
      }
    }
  }

  &__tooltip {
    background-color: #112532;
    padding: 0 2vh;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 1.8vh;
        font-weight: bold;
        color: #05bf99;
        padding: 1vh 0 1vh 4vh;
        background: {
          repeat: no-repeat;
          position: left center;
          image: url(./../assets/img/construct/location-pic.png);
        }
      }
      span {
        position: relative;
        display: block;
        font-size: 1.4vh;
        color: #feffff;
        padding-left: 1.5vh;

        &::after,
        &::before {
          display: block;
          content: "";
          position: absolute;
          left: 0;
          width: 0.3vh;
          height: 0.6vh;
        }
        &::before {
          top: 0;
          background-color: #f29b76;
        }
        &::after {
          bottom: 0;
          background-color: #ffffff;
        }
      }
    }

    &-right {
      display: flex;

      p {
        font-size: 1.4vh;
        color: #feffff;
        margin-left: 2vh;

        i {
          display: inline-block;
          margin-right: 0.5vh;
          width: 1.2vh;
          height: 1.2vh;
          border-radius: 0.4vh;
        }
      }
    }

    &-body {
      border-top: 0.1vh dashed rgba(42, 122, 122, 0.3);
      padding: 1.5vh 0;

      p {
        font-size: 1.6vh;
        color: #ffffff;
        padding: 0.5vh 0;

        span {
          display: inline-block;
          width: 2.4vh;
          height: 2.4vh;
          line-height: 2.4vh;
          text-align: center;
          margin-right: 1vh;
          background: {
            repeat: no-repeat;
            position: center;
            size: contain;
            image: url(./../assets/img/construct/location.png);
          }
        }
      }
    }
  }

  &__scroll {
    height: 100%;
    overflow-y: auto;
    padding: 0 2vh;
  }

  &__body {
    height: 100%;
    padding: 2vh 0;
    box-sizing: border-box;
    overflow: hidden;

    &-title {
      justify-content: space-between;
      margin-bottom: 1.5vh;

      p {
        font-size: 1.8vh;
        line-height: 2vh;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .el-button-group {
        flex: 0 0 135px;

        .el-button {
          background-color: #112532;
          border-color: #2b6768 !important;
          color: #2b6768;
          font-size: 1.2vh;
          padding: 0 1vh;
          min-height: 2.4vh;

          &.active {
            background-color: #2b6768;
            color: #ffffff;
          }
        }
      }
    }
  }

  &__item {
    background-color: rgba(16, 19, 23, 0.8);
    border: 0.1vh solid #273d3d;
    padding: 2vh;
    margin-bottom: 1.5vh;

    &:last-child {
      margin: 0;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 2.8vh;
  height: 11vh;
  margin-top: -5.5vh;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }

  &:after {
    display: none;
  }
}

.swiper-button-next {
  background-image: url(./../assets/img/effect/pic-right.png);
  right: 0;
}

.swiper-button-prev {
  background-image: url(./../assets/img/effect/pic-left.png);
  left: 0;
}

.anchorBL {
  display: none;
}

.BMap_shadow {
  display: none;
}

.BMap_pop {
  width: 30vh;
  height: 26vh;
  border: 0.1vh solid #2a7a7a;
  background: linear-gradient(0deg, #054d44cc 0%, #000000cc 52%);
  border-radius: 0 1.2vh 1.2vh 1.2vh;
  margin-left: 20vh;
  margin-top: 25vh;

  & > div {
    width: 26.5vh !important;
    display: none;

    &:nth-child(9) {
      display: block;
      width: 30vh !important;
      height: 26vh !important;
      left: 0 !important;
      top: 0 !important;
      bottom: 0 !important;
      overflow: initial !important;
    }
  }

  & > img {
    &:nth-child(10) {
      top: 1.5vh !important;
      width: 1.5vh !important;
      height: 1.5vh !important;
      left: 25.5vh !important;
    }
  }

  .BMap_bubble {
    &_title,
    &_content {
      width: 100% !important;
      font-size: 1.4vh;
      color: #ffffff;
    }
    &_title {
      width: 32vh !important;
      height: 5.4vh !important;
      line-height: 5vh !important;
      padding-left: 4vh;
      margin-left: -2vh;
      font-size: 2vh;
      font-weight: bold;
      background: {
        repeat: no-repeat;
        size: contain;
        position: center bottom;
        image: url(./../assets/img/construct/BMap_bubble_title.png);
      }
    }

    &_content {
      padding: 0.5vh 2vh;
      p {
        line-height: 2.2vh;
      }
    }
  }
}
